/*----------------------
 Google Fonts Styles 
 ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/*------------------------------ 
Common Styles and other Utilites
-----------------------------------*/

body {
   font-family: "Poppins", sans-serif;
}

hr {
   width: 60px;
   border: 1px solid #e76f51;
   border-radius: 1px;
   height: 20px;
}
/* ----------------------
Navbar Style 
-------------------------*/

.top-bg-info {
   background-color: #264653;
}

.button-link {
   padding: 10px 20px;
   background-color: #e76f51;
   margin-left: 125px;
}

.button-link:hover {
   border: 1px solid #e76f51;
   background-color: white;
   color: #e76f51 !important;
}

/* ----------------------
Top Banner Style
-------------------------*/

.header-title {
   font-size: 48px;
   font-weight: 600;
}

.common-button {
   padding: 10px 20px;
   background-color: #e76f51;
}

.common-button:hover {
   border: 1px solid #e76f51;
   background-color: white;
   color: #e76f51 !important;
}

/* ----------------------
Featured Bikes Style
-------------------------*/
.bike-grayscale {
   filter: grayscale(100%);
}

/* ----------------------
Latest News Style
-------------------------*/
.card-width {
   width: 90%;
}
