/*----------------------
 Google Fonts Styles 
 ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/*------------------------------ 
Common Styles and other Utilites
-----------------------------------*/

body {
   font-family: "Poppins", sans-serif;
}

.common-text-color {
   color: #e76f51;
}
hr {
   width: 60px;

   border: 1px solid #e76f51;
   border-radius: 1px;
}
/* ----------------------
Navbar Style 
-------------------------*/

.top-bg-info {
   background-color: #264653;
}

.button-link {
   padding: 10px 20px;
   background-color: #e76f51;
   margin-left: 125px;
}

.button-link:hover {
   border: 1px solid #e76f51;
   background-color: white;
   color: #e76f51 !important;
}

/* ----------------------
Top Banner Style
-------------------------*/

.header-title {
   font-size: 48px;
   font-weight: 600;
}

.common-button {
   padding: 10px 20px;
   background-color: #e76f51;
}

.common-button:hover {
   border: 1px solid #e76f51;
   background-color: white;
   color: #e76f51 !important;
}

/* ----------------------
Featured Bikes Style
-------------------------*/
.bike-grayscale {
   filter: grayscale(100%);
}

/* ----------------------
Latest News Style
-------------------------*/
.card-width {
   width: 90%;
}

/* ----------------------
Happy Client Style
-------------------------*/

.client-img {
   width: 75%;
   padding: 8%;
}

.feedback {
   padding: 18%;
}
.client-feedback {
   font-size: 16px;
   line-height: 26px;
   font-size: 16px;
}

.fa-star {
   color: #e77c40;
}

.blank-star {
   color: #aeaeae;
}

/* -----------------------
Support Section Style  
--------------------------*/

.support-bg-info {
   background-color: #ff5400;
   padding: 3%;
}

.service-img,
.service-img-icon {
   background-color: #fd7532;
   border-radius: 35px;
   padding: 15px;
}

/* --------------------
Innovation Section Style 
--------------------------*/

.innovation-info {
   overflow: hidden;
}

.innovation-info a img {
   transition: transform 0.6s ease-in-out;
}
.innovation-info:hover a img {
   display: block;
   transform: scale(1.1);
}

/*-----------------------
 Heritage Challenge Style 
 --------------------------*/

.heritage-bg-info {
   background-color: black;
}

.heritage-button {
   padding: 8px 20px;
   border: 1px solid white;
   background-color: black;
   border-radius: 20px;
   text-decoration: none;
}

.heritage-button:hover {
   background-color: white;
   border: 2px solid black;
   color: black !important;
}
